* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.inspector {
  font-family: "Fira Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
}

.inspector-json {
  padding: 0.375rem 1.5625rem;
  font-family: inherit;
}

.inspector .code {
  margin: 1.25rem 1.5625rem 0 1.5625rem;
  padding: 0.25rem 0;
  color: #1b1b1b;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.875rem;
}

.inspector .code::before {
  display: "block";
  content: ">";
  margin-right: 0.5rem;
  font-weight: bold;
}

.inspector .code [contenteditable] {
  padding: 0.1875rem;
  color: #515151;;
  border: 1px solid #515151;;
}

.inspector-json li.object > a:before,
.inspector-json li.array > a:before {
  content: '[–]';
  width: auto;
  font-weight: bold;
}

.inspector-json li.collapsed > a:before {
  content: '[+]';
  width: auto;
  font-weight: bold;
}

.inspector-json [data-path] {
  opacity: 0.35;
}

.inspector-json [data-path="this.href"],
.inspector-json [data-path="this.origin"],
.inspector-json [data-path="this.protocol"],
.inspector-json [data-path="this.host"],
.inspector-json [data-path="this.hostname"],
.inspector-json [data-path="this.pathname"] {
  opacity: 1;
}

.inspector-json [data-path="this.href"] span,
.inspector-json [data-path="this.origin"] span,
.inspector-json [data-path="this.protocol"] span,
.inspector-json [data-path="this.host"] span,
.inspector-json [data-path="this.hostname"] span,
.inspector-json [data-path="this.pathname"] span {
  font-weight: bold;
  color: #0f075a;
}

.inspector-json.expected [data-path] strong {
  color: #6d6d6d;
}

.inspector-json.expected [data-path="this.href"] span,
.inspector-json.expected [data-path="this.origin"] span,
.inspector-json.expected [data-path="this.protocol"] span,
.inspector-json.expected [data-path="this.host"] span,
.inspector-json.expected [data-path="this.hostname"] span,
.inspector-json.expected [data-path="this.pathname"] span {
  font-weight: bold;
  color: #008000;
}
